.menuContent{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.contentMenu{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.items{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(242, 95, 95);
    margin-bottom: 10px;
}